
.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .container {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .buttonSub {
    width: 100%;
    padding: 10px;
    background-color: #26329d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .buttonSub:hover {
    background-color: #45a049;
  }
  
  .buttonSub:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .animate {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  