
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #500deb;
    padding: 1rem;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
  }
  
  .link:hover {
    color: #7a1a98;
  }
  