.listItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.listItemPice {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.contactName {
  margin-left: 5px;
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.buttonChange,
.deleteButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.buttonChange {
  background-color: #007bff;
  color: white;
}

.buttonChange:hover {
  background-color: #0056b3;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

.deleteButton:hover {
  background-color: #c82333;
}
