.contactForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.inputContainer {
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
}

.nameInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.error {
  color: #dc3545;
  font-size: 14px;
}

.buttonSubmit {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonSubmit:hover {
  background-color: #0056b3;
}
