.container {
    display: flex;
    align-items: center;
  }
  
  .welcome {
    font-size: 14px; 
    font-weight: bold;
    margin-right: 5px; 
    color: white; 
  }
  .button {
    padding: 8px 16px;
    color: rgb(139, 33, 221);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  

  .button:focus {
    outline: none;
  }
  
  .button:disabled {
    background-color: #6721d8;
    cursor: not-allowed;
  }
  